<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ganmashop.dao.CartDao">
    <resultMap id="BaseResultMap"  type="com.ganmashop.entity.Cart" >
        <result column="id" property="id"  jdbcType="VARCHAR" />
        <result column="product_id" property="productId"  jdbcType="VARCHAR" />
        <result column="user_id" property="userId"  jdbcType="VARCHAR" />
        <result column="quantity" property="quantity"  jdbcType="INTEGER" />
        <result column="price" property="price"  jdbcType="DOUBLE" />
        <result column="create_time" property="createTime"  jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- Find cart by and productId -->
    <select id="findCartByProductIdAndUserId" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM cart WHERE product_id = #{productId} AND user_id = #{user_id}
    </select>

    <!-- Insert new cart item -->
    <insert id="insertCart" parameterType="com.ganmashop.entity.Cart">
        INSERT INTO cart (id, product_id, user_id, quantity, create_time, update_time)
        VALUES (#{id}, #{productId}, #{userId}, #{quantity}, now(), now())
    </insert>

    <!-- Update existing cart item -->
    <update id="updateCart" parameterType="com.ganmashop.entity.Cart">
        UPDATE cart
        SET quantity = #{quantity}, update_time = now();
        WHERE id = #{id}
    </update>

    <!-- Find all cart items for a user -->
    <select id="findCartItemsByUser" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM cart WHERE user_id = #{userId}
    </select>

    <delete id="deleteSelectedItems" parameterType="map">
        DELETE FROM cart
        WHERE user_id = #{userId}
        AND product_id IN
        <foreach item="productId" collection="productIds" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>

</mapper>
